<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401963892153-gpq59i5t6a760smnqoh47pje27a73uup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401963892153-gpq59i5t6a760smnqoh47pje27a73uup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401963892153-8inv89kmob5fp3h89vie9rkdbb9gen87.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1UOHpLygsdAyLF9H8kbZrCrox7QMA8jo</string>
	<key>GCM_SENDER_ID</key>
	<string>401963892153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointments</string>
	<key>PROJECT_ID</key>
	<string>appointments-5b541</string>
	<key>STORAGE_BUCKET</key>
	<string>appointments-5b541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401963892153:ios:e18fb00b83598edc978a68</string>
</dict>
</plist>